{% load static %}
<div class="text-center" id="about-me">
    <h4 class="text-white fw-bold py-2">ABOUT ME</h4>
    <div class="line mx-auto"></div>
    <div class="line-span mx-auto bg-danger"></div>
    <br />
  </div>
  <div class="row gx-5 bg-color rounded w-75 mx-auto p-0 m-0">
    <div class="col-12 col-md-6 col-lg-6 p-0 m-0">
      <img
        src="{% static 'images/qazileo.jpg' %}"
        class="card-img-top rounded-start"
        alt=""
      />
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <p class="text-white py-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
        expedita exercitationem minus necessitatibus veniam, incidunt,
        esse quos quod quo saepe molestias.
      </p>
      <div class="text-white">
        <h5>Here are a Few Highlights:</h5>
        <ul>
          <li class="py-2">Lorem ipsum dolor sit amet consectetur</li>
          <li class="py-2">Lorem ipsum dolor sit amet consectetur</li>
          <li class="py-2">Lorem ipsum dolor sit amet consectetur</li>
          <li class="py-2">Lorem ipsum dolor sit amet consectetur</li>
          <li class="py-2">Lorem ipsum dolor sit amet consectetur</li>
          <li class="py-2">Lorem ipsum dolor sit amet consectetur</li>
        </ul>
      </div>
    </div>
  </div>