{% load static %}
<div class="text-center" id="image">
    <h4 class="text-white fw-bold py-2">Image</h4>
    <div class="line mx-auto"></div>
    <div class="line-span mx-auto bg-danger"></div>
    <br />
  </div>
  <div class="row">
    <div class="col">
      <img
        src="{% static 'images/qazileo.jpg' %}"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col">
      <img
        src="{% static 'images/qazileo.jpg' %}"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col">
      <img
        src="{% static 'images/qazileo.jpg' %}"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col">
      <img
        src="{% static 'images/qazileo.jpg' %}"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>